<div class="container-fluid content-wrapper">
  <div class="row">

    <div class="col-md-12">
      <h2 class="section-big-title">The Small but "Very Effective" Team</h2>
    </div>

    <div class="col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2">
      <div class="team-member center-text">
        <div class="team-member-wrapper team-member-on-team-page">
          <h3>Jeremiah Wodke</h3>
          <h4 class="team-member-role">Design, Frontend, SEO</h4>
          <ul class="team-member-links">
            <li class="team-member-link"><a class="team-member-personal-website" href="tel:+9704629768"><i class="fa fa-phone"></i> Speak to Jeremiah</a></li>
            <li class="team-member-link"><a class="team-member-personal-website" href="#">Developer Portfolio</a></li>
            <li class="member-github-link team-member-link"> <a href=""><i class="fa fa-github"></i> Github</a></li>
            <li class="member-linkedin-link team-member-link"> <a href=""><i class="fa fa-linkedin"></i> LinkedIn</a></li>
          </ul>
          <p class="team-member-description first-team-member center-image">An expert when it comes to handling the business money. He defers everything else except for design and money to Sam, the real brains of the operation.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-5 col-md-4">
      <div class="team-member center-text">
        <div class="team-member-wrapper">
          <h3>Sam Ringleman</h3>
          <h4 class="team-member-role">Backend, SEO</h4>
          <ul class="team-member-links">
            <li class="team-member-link"><a class="team-member-personal-website" href="tel:+9704604255"><i class="fa fa-phone"></i> Speak to Sam</a></li>
            <li class="team-member-link"><a class="team-member-personal-website" href="#">Developer Portfolio</a></li>
            <li class="member-github-link team-member-link"> <a href=""><i class="fa fa-github"></i> Github</a></li>
            <li class="member-linkedin-link team-member-link"> <a href=""><i class="fa fa-linkedin"></i> LinkedIn</a></li>
          </ul>
          <p class="team-member-description center-image">Sam is a rather unique character. Usually when we're trying to brainstorm ideas he prefers sitting in the corner picking his nose or making construction paper snowflakes. We're not actually sure why we keep him on.</p>
        </div>
      </div>
    </div>

  </div>
</div>
