<div class="container-fluid bio content-wrapper">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-sm-5">
          <%= image_tag "img_bio-impact-studio.svg", class: "bio-image" %>
        </div>
        <div class="col-sm-6">
            <h2 class="bio-title">We are a Full-Service Web Design Consultancy</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error blanditiis, mollitia dolorem consequatur minus nesciunt fugit quos possimus ad quod, quis veritatis aut tempore esse, rerum, ut dolores quasi! Cum.</p>
            <button type="button" name="button" class="content-button borders">Our Services</button>
        </div>
      </div>
    </div>
  </div>
</div>
