<div class="container-fluid bio content-wrapper">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <%= image_tag "img_bio-impact-studio.svg", class: "bio-image" %>
    </div>
    <div class="col-md-4">
      <h2>We are a Full-Service Web Design Consultancy</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error blanditiis, mollitia dolorem consequatur minus nesciunt fugit quos possimus ad quod, quis veritatis aut tempore esse, rerum, ut dolores quasi! Cum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis totam distinctio quaerat quis quibusdam unde consequatur tenetur numquam minus cupiditate rem, quae cumque facilis vero ex dolores quia harum ratione!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam placeat laborum expedita illo architecto facere accusantium eum magnam, nostrum cupiditate dignissimos tempora iusto nulla aliquid cum, aliquam sint quas cumque!</p>
    </div>
  </div>
</div>
