<div class="container-fluid bio content-wrapper">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <%= image_tag "img_bio-impact-studio.svg", class: "bio-image" %>
        </div>
        <div class="col-md-7 col-sm-12">
            <h2 class="bio-title">We offer a wide range of Web Services</h2>
            <p>Our passion is building your business. We utilize the best technology and the best marketing practices to get you the clients you're after. In today's market it's not enough to have a nicely designed website. You need to have an intensive marketing plan to ensure your website is getting the exposure (and the leads) that it deserves.</p>
            <!-- <p>At impactstudio we offer the web solutions that matter. From responsive interactive web designs that look great on all devices to marketing research and implementation we offer the innovation for growing your businesses online.</p> -->
            <button type='button' name='button' class='content-button borders'><%= link_to "Our Services", services_path %></button>
        </div>
      </div>
    </div>
  </div>
</div>
