<div class="container-fluid hero">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= image_tag "impactstudio_logo_vector", class: "impact_logo" %>
      <%= render partial: "/layouts/navigation" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores consequuntur, qui culpa necessitatibus quo temporibus facilis voluptate saepe adipisci quasi assumenda excepturi ipsa voluptatum, ratione deleniti sunt voluptatibus quod quis?</p>

      <button type="button" name="button" class="project_button borders">Start A Project!</button>
    </div>
  </div>
</div>
