<div class="container-fluid hero">
  <div class="hero-wrapper">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 hero-content">
        <h1 class="get-off-the-page"><%= image_tag "impactstudio_logo_vector.svg", class: "impact_logo" %></h1>
        <%= render partial: "/layouts/navigation" %>
      </div>
        <div class="col-md-8 col-md-offset-1 headline hero-content">
          <p class="hero-description get-off-the-page">We provide <strong>"Web Solutions that make an impact"</strong>. At impactstud.io we're a team of nerds who are having a blast helping our clients reach their business goals through internet marketing, graphic design and of course building KICK ASS WEBSITES. We'd love nothing more than to sit down with you and talk about your business aspirations so if you're ready, why not start a project with us now!</p>

          <button type="button" name="button" class="get-off-the-page project_button borders"><%= link_to "Start A Project!", start_a_project_path %></button>
        </div>
      </div>
  </div>
</div>
