<div class="container-fluid hero">
  <div class="hero-wrapper">
    <div class="row">
      <div class="col-md-10 col-md-offset-2 hero-content">
        <h1 class="get-off-the-page"><%= image_tag "impactstudio_logo_vector.svg", class: "impact_logo" %></h1>
        <%= render partial: "/layouts/navigation" %>
      </div>
        <div class="col-md-6 col-md-offset-2 headline hero-content">
          <p class="hero-description get-off-the-page">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores consequuntur, qui culpa necessitatibus quo temporibus facilis voluptate saepe adipisci quasi assumenda excepturi ipsa voluptatum, ratione deleniti sunt voluptatibus quod quis?</p>

          <button type="button" name="button" class="get-off-the-page project_button borders"><%= link_to "Start A Project!", start_a_project_path %></button>
        </div>
      </div>
  </div>
</div>
