<div class="container-fluid projects content-wrapper <%= 'start-a-project-section' if current_page?(root_path) %>">
  <h2 class="section-big-title">Our 2 Cents</h2>
  <%= render partial: "static/portfolio/portfolio_projects" %>
</div>
