<div class="container-fluid team content-wrapper">
  <div class="row">

    <div class="col-md-12">
      <h2 class="section-big-fuckin-dick">Meet Our Team</h2>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <%= image_tag "jeremiah-wodke-colorado-web-marketing.jpg", class: "thumbnail" %>
    </div>
    <div class="col-md-3">
      <h3>Jeremiah Wodke</h3>
      <h4>Design and CFO</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, officiis assumenda odio. Perferendis placeat, voluptatum dolorum atque obcaecati magni quae provident cum corrupti quam eos mollitia quo libero, tempora dolor.</p>
    </div>

  </div>
</div>
