<div class="container-fluid team content-wrapper">
  <div class="row">

    <div class="col-md-12">
      <h2 class="section-big-fuckin-dick">Meet Our Team</h2>
    </div>

    <div class="col-md-5 col-md-offset-1">
      <div class="team-member">
        <%= image_tag "jeremiah-wodke-colorado-web-marketing.jpg", class: "thumbnail" %>
        <div class="team-member-wrapper">
          <h3>Jeremiah Wodke</h3>
          <h4>Design and CFO</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, officiis assumenda odio. Perferendis placeat, voluptatum dolorum atque obcaecati magni quae provident cum corrupti quam eos mollitia quo libero, tempora dolor.</p>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="team-member">
        <%= image_tag "sam-ringleman-colorado-web-development.jpg", class: 'thumbnail' %>
        <div class="team-member-wrapper">
          <h3>Sam Ringleman</h3>
          <h4>Development and CTO and CEO</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ut, vitae voluptate corporis minima earum. Minima sequi quo at adipisci harum officiis aut. Accusantium saepe ipsam, esse cumque culpa ipsum.</p>
        </div>
      </div>
    </div>

  </div>
</div>
