<div class="container-fluid photography">
  <%= image_tag "img_photography-colorado.svg", class: "center-image full-width-block photography-image" %>
</div>

<div class="container-fluid photography-text">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 content-wrapper">
      <h2 class="section-big-title">Photography</h2>
      <p class="lead">There is a saying the in the Internet Marketing community and that is, <strong>"Content is king!"</strong> which is referring to high-quality text content being a big indicator of page ranking scores in search engines. Well, at impactstudio we say that <strong>"if content is king then image content is God! LOL"</strong> But seriously, image content is crucial to a great user experience and the companies that invest in quality image content usually have the websites that people enjoy visiting the most. However, hiring a professional photographer or videographer to capture this type of content will undoubtedly cost a lot of money.</p>
      <p class="lead">With impactstudio our mission is to eliminate the need for hiring an outside photographer who <strong>1)</strong> will almost always charge more than we will and <strong>2)</strong> may have a great eye for photography but does not have the vision for how a photograph will look on your website. Our in-house photographers and graphic designers have the experience and the professional gear to capture and design compositionally sound, web-optimized image content that can be included in our web design package at a very reasonable price.</p>
    </div>
  </div>
</div>
