<div class="container-fluid responsive navbar-fixed-acommodate">
  <%= image_tag "img_colorado-web-design.svg", class: "responsive-image full-width-block center-image" %>
</div>
<div class="container-fluid responsive-text">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h2 class="section-big-title">Responsive Web Solutions</h2>
        <p class="center-text">The key to successful web design is a visual aesthetic that matches your brand, period. Good web design comes from being detail-oriented and taking the time to make sure everything works flawlessly. WonderCrate is keenly aware of consumer trends, as well as design trends and can take any design brief we’re given and spin it into something that you have never seen before. Treat your business to a digital makeover.</p>
      </div>
    </div>
  </div>
</div>
