<div class="container-fluid responsive">
  <%= image_tag "img_colorado-web-design.svg", class: "responsive-image full-width-block center-image" %>
</div>
<div class="container-fluid responsive-text">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="sub-section-big-title">Responsive Web Solutions</h2>
        <p class="center-text">Leberkas landjaeger sausage swine salami fatback pork belly spare ribs venison short loin pig andouille. Short ribs short loin tri-tip ham hock pork belly shoulder chuck spare ribs pork loin rump corned beef shank pork chop. Sausage doner t-bone, swine turkey brisket bresaola hamburger prosciutto. Tri-tip beef meatloaf, spare ribs corned beef swine rump chuck jowl cupim ribeye kevin. Pastrami jerky kielbasa meatloaf shank drumstick andouille rump t-bone. Frankfurter bacon ham hock, flank kevin cupim fatback capicola swine meatloaf. Meatball strip steak beef ribs spare ribs andouille.</p>
      </div>
    </div>
  </div>
</div>
