<div class="container-fluid responsive navbar-fixed-acommodate">
  <%= image_tag "img_colorado-web-design.svg", class: "responsive-image full-width-block center-image" %>
</div>
<div class="container-fluid responsive-text">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h2 class="section-big-title">Responsive Web Solutions</h2>
        <p class="lead">The most critical part about successful web development is the <strong>creation of an intuitive user experience </strong>. Utilizing extensive research methods, modern web optimization principles and a mobile first approach, we make sure you're website is intriguing to the minds of your target customers on any device mobile or desktop.</p>
        <section class="service-process">
          <h3 class="services-subheading">Our Web Development Process</h3>
          <hr>
          <ul>
            <li><h4>Step 1: Planning</h4><p>We sit down with every potential client to go over their business goals, aspirations and to get an overview of the client's vision for their business online. From here we do intensive research, mapping together ideas based from that research and then submit a proposal containing what we believe would be the best web solution. Only when the client is fully satisfied with the proposal will we progress to the next step.</p></li>
            <li><h4>Step 2: Design/Wireframing</h4><p>just like a painter sketches the outline of his subject before putting paint to the canvas; we take a similar approach to web design. Each website we build is first taken to the whiteboard, then to photoshop where we design a finished replica (or wireframe) of what the website will look like when live on the web, the wireframe is then reviewed by the client before proceeding to the next step of the process. We've found the method of wireframing to be very helpful in creating a seamless experience for both the client and our team.</p></li>
            <li><h4>Step 3: Development (The Agile Way)</h4><p>After the wireframe / designs have been approved by the client we bring the website to life with many hours of programming and refinement. This process for the non-tech saavy can be quite a lot to take in so we utilize a method called Agile Software Development which in short means, each time we make decent progress on the website we have the client review and depending on the client's feedback we do one of the following:</p>
              <ul class="nested-list">
                <li>re-adjust the progress made to meet the client's vision <strong>or</strong></li>
                <li>continue onto the next iteration of development (creating and then submitting to the client for review) until the website has been fully developed and is ready for deployment.</li>
              </ul>
            </li>
            <li><h4>Step 4: Final Touches and Deployment</h4><p>After the site has been fully developed on our local servers we make any final touches that the client may have and then migrate the website. This process may include the purchasing of domains/hosting or handing the files over to your webmaster. <strong>We offer website management</strong> so if you choose to have us manage your website we will take care of everything for you so you can sit back and let the business roll in!</p></li>
            <li></li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>
