<div class="container-fluid responsive navbar-fixed-acommodate">
  <%= image_tag "img_colorado-web-design.svg", class: "responsive-image full-width-block center-image" %>
</div>
<div class="container-fluid responsive-text">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h2 class="section-big-title">Responsive Web Solutions</h2>
        <p class="center-text">Today 56 percent of the population is viewing the internet from a mobile device! Search engines, especially Google, consider responsive design as their preferred method for viewing websites on mobile devices. This means to you, awesome small business owner, that if your current site isn't mobile responsive, you should consider either a new site, or a redesign on your current site. Let us help you get more traffic the way that the population is consuming it, we love mobile, and we are experts at mobile.</p>
      </div>
    </div>
  </div>
</div>
