<div class="container-fluid seo">
  <%= image_tag "img_internet-marketing-colorado.svg", class: "center-image full-width-block seo-image" %>
</div>

<div class="container-fluid seo-text">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 content-wrapper">
      <h2 class="section-big-title">Search Engine Optimization (SEO)</h2>
      <p class="lead"><em>Search Engine Optimization (SEO)</em> is a vast topic but in short can be defined as the digital marketing effort to increase the search ranking of a website in search engines such as Google, Bing, Yahoo etc.</em> A business website without a marketing and SEO plan is like an artist trying to sell their paintings in a gallery by putting them up in a storage closet where no one is likely to see them. We will go as far to say that building a beautiful website is <strong>a waste of time and money</strong> without a proper SEO plan in place to lure potential customers to the website. A great website paired with a relentless SEO plan is what we do best and it's what is needed for our clients to make their business standout in a sea of competitors.</p>
      <section class="service-process">
        <h3 class="services-subheading">Our SEO Approach to Business Growth</h3>
        <hr>
        <ul>
          <li><h4>Step 1: Planning and Research</h4><p>SEO research is the most important part of any marketing plan. At impactstudio we take more time researching what works in your business niche online than we do curating the first initial wave of implementations and marketing content. After we have completed our research we then create a proposal containing a marketing approach we feel is best for your business niche. Only when the client is fully satisfied with the proposal will we progress to the next step of the process.</p></li>
          <li><h4>Step 2: Implementation</h4><p>From here we take all of our research and implement the tactics mentioned in the proposal. This usually includes the curation of:</p>
            <ul class="nested-list">
              <li>Local Business Listings</li>
              <li>Paid Advertising Campaigns</li>
              <li>Social Media Optimization <em>(at an additional cost)</em></li>
              <li>Website Content and Performance Optimization</li>
              <li>implementing SEO Building Features and plugins on the website</li>
            </ul>
            <p>and much much more.</p>
          </li>
          <li><h4>Step 3: Analytics, Routine Auditing, A/B Testing, More Research</h4><p>SEO and Internet Marketing as a whole is an ever evolving process for businesses. That's why at impactstudio we install robust analytical systems on our clients' websites that help track a wide range of metrics to help understand a marketing plan's strong points and also weak points. We take a relentless approach in continual research and view our relationship with our clients as a cooperative partnership doing everything we can to get you the ideal Return of Investment.</p></li>
          <li></li>
          <li></li>
        </ul>
      </section>
    </div>
  </div>
</div>
