<div class="container-fluid seo">
  <%= image_tag "img_internet-marketing-colorado.svg", class: "center-image full-width-block seo-image" %>
</div>

<div class="container-fluid seo-text">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 content-wrapper">
      <h2 class="section-big-title">Search Engine Optimization (SEO)</h2>
      <p class="lead"><em>Search Engine Optimization (SEO)</em> is a vast topic but in short can be defined as the digital marketing effort to increase the search ranking of a website in search engines such as Google, Bing, Yahoo etc.</em> A business website without a marketing and SEO plan is like an artist trying to sell their paintings in a gallery by putting them up in a storage closet where no one is likely to see them. We will go as far to say that building a beautiful website is <strong>a waste of time and money</strong> without a proper SEO plan in place to lure potential customers to the website. A great website paired with a relentless SEO plan is what we do best and it's what is needed for our clients to make their business standout in a sea of competitors.</p>
      <section class="service-process">
        <h3 class="services-subheading">Our SEO Approach to Business Growth</h3>
        <hr>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </section>
    </div>
  </div>
</div>
