<div class="container-fluid seo">
  <%= image_tag "img_internet-marketing-colorado.svg", class: "center-image full-width-block seo-image" %>
</div>

<div class="container-fluid seo-text">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 content-wrapper">
      <h2 class="section-big-title">Search Engine Optimization (SEO)</h2>
      <p class=center-text>Ham hock flank turkey pork belly. Biltong turducken meatloaf spare ribs pork sirloin, bacon cupim beef ribs. Picanha turducken frankfurter pig ball tip pancetta turkey kevin beef ribs hamburger ground round. Short ribs shank leberkas pastrami pancetta venison, pork loin sausage. Corned beef jerky prosciutto, chuck pork brisket short ribs alcatra bresaola meatloaf landjaeger pancetta ribeye shank. Shankle venison chicken capicola, chuck strip steak tri-tip frankfurter ball tip jowl cupim.</p>
    </div>
  </div>
</div>
