<div class="container-fluid reviews content-wrapper project-review">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <blockquote cite="Eric A Sunness" class="text-center">
        <p>These two are about the best damn developers (and people in general) that I have ever met. That said, they both smell terrible.</p>
        <p>-Eric A. Sunness</p>
      </blockquote>
    </div>
  </div>
</div>
