<%= render partial: "layouts/header" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 content-wrapper">
      <h2 class="section-big-title">Start a Project</h2>
      <p class="center-text">Leberkas landjaeger sausage swine salami fatback pork belly spare ribs venison short loin pig andouille. Short ribs short loin tri-tip ham hock pork belly shoulder chuck spare ribs pork loin rump corned beef shank pork chop. Sausage doner t-bone, swine turkey brisket bresaola hamburger prosciutto. Tri-tip beef meatloaf, spare ribs corned beef swine rump chuck jowl cupim ribeye kevin. Pastrami jerky kielbasa meatloaf shank drumstick andouille rump t-bone. Frankfurter bacon ham hock, flank kevin cupim fatback capicola swine meatloaf. Meatball strip steak beef ribs spare ribs andouille.</p>

      <%= render partial: 'static/startproject/start_a_project_form' %>
    </div>
  </div>
</div>
<%= render partial: 'layouts/social_icons' %>
<%= render partial: 'static/startproject/start_a_project_footer' %>
