<%= render partial: "layouts/header" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 content-wrapper">
      <h2 class="section-big-title">Ready to Start a Project?</h2>
      <h3 class="center-text start-a-project-description">We can't wait to help you reach your goals. Simply fill out the form below and we will get in touch with you!</h3>
      <%= render partial: 'static/startproject/start_a_project_form' %>
      <div class="company-info">
        <h3>Company Info</h3>
        <ul>
          <li>support@impactstud.io</li>
          <li>Mon. - Fri. 8a.m. - 5p.m.</li>
          <li>(970) 391-2132</li>
        </ul>
        <p>Being that we are a newer company we do not have a physical office yet. However, we are more than happy to buy you a cup of coffee at your favorite coffee shop to go over your goals :-)</p>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'layouts/social_icons' %>
<%= render partial: 'static/startproject/start_a_project_footer' %>
