<form class="contact-form start-project-form">
  <input type="text" name="name" id="name" value="" placeholder="Name" required>
  <input type="phone" name="phone-number" id="phone" value="" placeholder="Phone Number" required>
  <input type="email" name="email" id="email" value="" placeholder="Email Address" required>
  <input type="text" name="city" id="city" value="" placeholder="City" required>
  <input type="text" name="state" id="state" value="" placeholder="State" required>
  <input type="text" name="zipcode" id="zipcode" value="" placeholder="Zipcode" required>
  <textarea name="message" rows="8" cols="40" placeholder="Tell us a bit about your project." required></textarea>
  <input type="submit" value="Submit">
</form>
