<section class="start-a-project-footer">
  <p class="start-a-project-footer-copy">&copy; <%= Time.now.strftime("%Y") %> impactstud.io LLC</p>
  <%= link_to "Privacy", "" %>
  <%= link_to "Site Map", " " %>
</section>
