<div class="container-fluid content-wrapper navbar-fixed-acommodate">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2 class="section-big-title">Clients We've Worked With</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    </div>
  </div>
    <%= render partial: "static/portfolio/portfolio_projects" %>
  </div>
</div>
