<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="row">
      <section class="projects-showcase">
        <% @projects.each do |project| %>
          <%= link_to(project) do %>
            <figure class="project col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
              <figcaption class="project-info">
                <h3 class="project-title"><%= project.title %></h3>
                <%= image_tag project.logo.url, class: "project-client-logo center-image" %>
                <p class="project-description">
                  <%= truncate(project.description, length: 150) %>
                </p>
              </figcaption>
            </figure>
          <% end %>
        <% end %>
      </section>
    </div>
  </div>
</div>
