/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

/*******************
MENU:
!!! media queries included in each section (if applicable)
1.0 DEFAULT
2.0 NAVIGATION
3.1 HOME - HERO
3.2 HOME - WHAT ABOUT
********************/

/* ======================
1.0 DEFAULT
====================== */

@import "bootstrap-sprockets";
@import "bootstrap";

$pumpkin: #e09350;
$smoke: #878888;
$sky: #55CADB;

html {
  background-color: $pumpkin;
}

.row, .col-md-12 {
  padding: 0;
  margin: 0;
}

.navbar-default .navbar-nav > li > a:hover {
  color: $pumpkin;
}

.btn-pumpkin {
  color: #fff;
  background-color: $pumpkin;
  padding: 7px;
  margin-top:9px;
  margin-bottom: 9px;
  box-shadow: 1px 1px 2px #666;
  transition: ease-out .25s;
}

.btn-pumpkin:hover{
  color: #fff;
  background-color: $sky;
  transition: ease .25s;
}

/* ======================
2.0 NAVBAR
====================== */

.navbar {
  border: none;
  background-color: $smoke;
  border-radius: 0;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-toggle {
  background-color: #ddd;
  transition: ease-out .25s;
  border-color: none;
}
.navbar-toggle:hover {
  background-color: #bfbfbf !important;
  transition: ease-in .25s;
}
#start-a-project {
  padding: 5px;
  margin-top:9px;
  margin-bottom: 9px;
  color: #fff;
  background-color: $sky;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #666;
  transition: ease-out .25s;
}
#start-a-project:hover {
  color: #fff;
  background-color: $pumpkin;
  transition: ease .25s;
}

/* ======================
3.1 HOME - HERO
====================== */
#hero {
  margin: 30px 0 0 0;
  width: 100vw;
  background-image: image-url("impactstudio-web-design_home-hero.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-position-y: 16px;
  background-color: $pumpkin;
  height: 600px;
  padding: 0;
}
#hero-text {
  position: relative;
  top: 135px;
  text-align: center;
}
#hero-slogan {
  font-size: 7vw;
  padding: 50px 50px 0 50px;
}
#btn-hero {
  font-size: 2vw;
  margin-top: 15px;
}

@media screen and (max-width: 1070px) {
  #hero-text{
    top: 65px;
  }
}

@media screen and (min-width: 913px) and (max-width: 1070px) {
  #hero {
    height: 450px;
  }
}

@media screen and (max-width: 912px) {
  #hero {
    height: 380px;
    top: 60px;
  }
  #btn-hero {
    font-size: 3vw;
  }
}

@media screen and (max-width: 400px) {
  #hero {
    height: 300px;
  }
  #hero-slogan {
    font-size: 8vw;
    top: 0;
  }
  #hero-text {
    top: 20px;
  }
  #btn-hero {
    font-size: 5vw;
  }
}
