/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

/*******************
MENU:
1.0 DEFAULT
  1.1 VARIABLES
2.0 NAVIGATION
  2.1 SOCIAL
  2.2 FOOTER
  2.3 HEADER
3.0 GENERAL
  3.1 REUSABLES
4.0 HOME - HERO
  4.1 HOME - BIO
  4.2 HOME - TEAM
  4.3 HOME - REVIEWS
  4.4 HOME - PROJECTS
5.0 SERVICES - RESPONSIVE
  5.1 SERVICES - SEO
  5.2 SERVICES - PHOTOGRAPHY
6.0 TEAM
  6.1 TEAM - HERO
  6.2 TEAM - TEAM MEMBERS
7.0 PORTFOLIO
  7.1 PORTFOLIO - PORTFOLIO DESCRIPTION
  7.2 PORTFOLIO - PORTFOLIO PROJECTS
7.0 MEDIA QUERIES
********************/

/* ======================
1.0 DEFAULT
====================== */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Roboto:300,700';
@import 'font-awesome';

@font-face {
  font-family: 'AmericanTypewriter';
  src: asset-url('american-typewriter.eot');
  src: asset-url('american-typewriter.eot') format('eot'),
  asset-url('american-typewriter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmericanTypewriterLight';
  src: asset-url('american-typewriter-light.eot');
  src: asset-url('american-typewriter-light.eot') format('eot'),
  asset-url('american-typewriter-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ======================
1.1 VARIABLES
====================== */

$tangerine: #f27022;
$pumpkin: #fd9846;
$smoke: #474e5e;
$sky: #00cbdd;
$cloudy: #f1f1f1;
$cream: CornSilk;
$teal: #47a6a6;
$grey: #a8a8a8;
$fbBlue: #3b5998;
$liBlue: #0077B5;
$twBlue: #1DA1F2;
$gRed: #d34836;
$typewriter: "AmericanTypewriter", Courier, 'Courier New';
$lightTypewriter: 'AmericanTypewriterLight', Courier, 'Courier New';
$robot: 'Roboto', sans-serif;
$ease-in: ease-in .3s;
$ease-out: ease-out .3s;

/* ======================
2.0 NAVIGATION
====================== */

* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
}

.navigation {
  padding-left: 0;
  margin-bottom: 30px;
}

.col-md-4 {
  z-index: 1;
}

.navigation li {
  list-style-type: none;
  display: inline-block;
  font-size: 1.5em;
}

.navigation li:after {
  content: "//";
  padding-left: 10px;
  padding-right: 10px;
}

.navigation li:last-child:after {
  content: "";
  padding-right: 0;
}

.navigation li a {
  color: #333;
  font-size: .8em;
}

.navigation li a.active {
  color: $pumpkin;
}

/* ======================
  2.1 SOCIAL
====================== */

.social-icons {
  background-color: $tangerine;
  font-size: 6em;
  padding-left: 0;
  text-align: center;
}

.social-icon-link {
  color: $smoke;
  transition: $ease-out;
}

.social-icon-link:hover {
  transition: $ease-in;
}

.github-link:hover {
  color: black;
}

.facebook-link:hover {
  color: $fbBlue;
}

.linkedin-link:hover {
  color: $liBlue;
}

.google-link:hover {
  color: $gRed;
}

.twitter-link:hover {
  color: $twBlue;
}

.social-icon-wrapper {
  display: inline-block;
  width: 17%;
  margin-top: 5px;
}

/* ======================
2.2 FOOTER
====================== */

.footer {
  background-color: $sky;
  position: relative;
  height: 520px;
}

.footer-image {
  z-index: 0;
}

.footer-image img {
  height: 520px;
  position: absolute;
  top: 0;
  right: 0;
}

.footer-header {
  text-align: center;
  font-family: $lightTypewriter;
}

.contact-form {
  margin: 0 auto;
  z-index: 1;
}

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form input[type="phone"] {
  width: 100%;
}

.contact-form input {
  padding-left: 10px;
  display: block;
  border: solid $cream 2px;
  margin: 20px 0;
  background-color: $pumpkin;
  color: $cream;
  border-radius: 5px;
  font-family: $robot;
  font-weight: 300;
  font-size: 1.2em;
  transition: $ease-out;
}

.contact-form input:focus {
  background-color: $tangerine;
  transition: $ease-in;
  outline: none;
}

.footer-links {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  z-index: 1;
}

.footer-links p {
  display: inline-block;
  margin: 0 15px;
}

.footer-links a {
  margin-right: 10px;
  color: black;
  transition: $ease-out;
}

.footer-links a:hover {
  color: $pumpkin;
  transition: $ease-in;
  font-size: 5.0em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $cream;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $cream;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $cream;
}
:-moz-placeholder { /* Firefox 18- */
  color: $cream;
}

.contact-form input[type="submit"] {
  border: none;
  padding: 5px 10px;
  transition: $ease-out;
}

.contact-form input[type="submit"]:hover {
  transition: $ease-in;
  background-color: $tangerine;
}

/* ======================
2.4 HEADER
====================== */

.header {
  background-color: $teal;
  padding-top: 26px;
}

.header-logo {
  height: 35px;
  width: 234px;
}

.header-navigation {
  float: right;
}

/* ======================
3.0 GENERAL
====================== */

html {
  height: 100%;
  width: 100%;
}

body {
  font: normal 17px $typewriter;
  background-color: #f1f1f1;
}

p {
  line-height: 25px;
  margin-bottom: 15px;
  font-weight: normal;
  font-family: $robot;
}

h2 {
  font-size: 2.0em;
  text-align: center;
  font-family: $typewriter;
  margin: 0 0 40px 0;
  letter-spacing: 2px;
}

h3 {
  margin-top: 0;
  letter-spacing: 4px;
}

h4 {
  letter-spacing: 2px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

blockquote {
  border: none;
  font-size: 2em;
  margin: 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  // margin-right: 9.25em THIS BITCH;
  vertical-align: -0.4em;
  float: left;
}

blockquote p {
  line-height: 37px;
}

blockquote p:first-child {
  color: $smoke;
  font-family: $lightTypewriter;
}

a {
  color: $pumpkin;
}

a:hover {
  color: $tangerine;
}

figure {
  padding: 0;
}

/* ======================
3.1 REUSABLES
====================== */

.full-width-block {
  width: 100%;
}

.justify-text {
  text-align: justify;
}

.content-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}

.headline {
  font-size: 1.2em;
}

.section-big-title {
  font-size: 3em;
  font-family: $lightTypewriter;
  margin-bottom: 50px;
}

.center-image {
  display: block;
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.content-button {
  padding: 10px;
  background: $tangerine;
  outline: none;
  border: 3px solid;
  font-size: 1.4em;
  display: block;
  margin: 30px auto 0 auto;
  transition: ease-out .2s;
}

.content-button:hover {
  background: $sky;
  transition: ease-in .2s;
}

/* ======================
4.1 HOME - HERO
====================== */

.hero {
    background-image: image-url("impact_studio_hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero-wrapper {
  margin-bottom: 218px;
  margin-top: 118px;
}

.impact_logo {
  height: 83px;
  width: 670px;
  margin-bottom: 20px;
}

.project_button {
  background-color: $tangerine;
  color: $cream;
  border: 3px solid $cream;
  box-shadow: 0px 0px 0px 3px $sky,
              0px 0px 3px 3px rgba(51, 51, 51, 0.7);
  text-transform: uppercase;
  padding: 8px;
  border-radius: 8px;
  font-size: 1.3em;
  transition: $ease-out;
}

.project_button:hover {
  background-color: $sky;
  transition: $ease-in;
  box-shadow: 0px 0px 0px 3px $tangerine,
              0px 0px 3px 3px rgba(51, 51, 51, 0.7);
}

/* ======================
4.2 HOME - BIO
====================== */

.bio {
  background-color: $pumpkin;
  color: $cream;
  font-family: $robot;
}

.bio-image {
  display: block;
  margin: 0 auto;
  width: 60%;
}

.thumbnail {
  height: 173px;
  width: 173px;
  border-radius: 50%;
  display: table-cell;
  vertical-align: top;
  margin-right: 30px;
}

/* ======================
4.3 HOME - TEAM
====================== */

.team {
  background-color: $tangerine;
  color: $cream;
  background-image: image-url("bg_palette-border.jpg");
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: contain;
}

.team-member-wrapper {
  width: 73%;
  display: table-cell;
  vertical-align: top;
}

.team-member {
  display: table;
}

.team-member-role {
  margin-bottom: 25px;
}

.team-member-description {
  font: normal .8em $robot;
  line-height: 20px;
  width: 90%;
}

/* ======================
4.4 HOME - REVIEWS
====================== */

.reviews {
  background-color: $teal;
}

/* ======================
4.5 HOME - PROJECTS
====================== */

.projects {
  background-color: $cloudy;
}

/* ======================
5.0 SERVICES - RESPONSIVE
====================== */

.responsive {
  background: $pumpkin;
}

.responsive-image {
  height: 434px;
}

.responsive-text {
  background: $cloudy;
}

/* ======================
5.1 SERVICES - SEO
====================== */

.seo {
  background: $teal;
}

.seo-image {
  height: 405px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.seo-text {
  background: $cloudy;
}

/* ======================
5.2 SERVICES - PHOTOGRAPHY
====================== */

.photography {
  background: $grey;
}

.photography-image {
  height: 409px;
  margin-top: 25px;
  margin-bottom: 35px;
}

.photography-text {
  background: $cloudy;
}

/* ======================
6.0 TEAM
====================== */

/* ======================
6.1 TEAM - HERO
====================== */

.team-hero {
  width: 100%;
  height: 510px;
  background-color: $pumpkin;
  background-image: image-url("nerd.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* ======================
6.2 TEAM - TEAM MEMBERS
====================== */

.team-member-links {
  margin-bottom: 33px;
}

.team-member-link {
  margin-bottom: 10px;
}

.team-member-personal-website {
  color: $sky;
}

/* ======================
7.0 PORTFOLIO
====================== */

/* ======================
7.1 PORTFOLIO - PORTFOLIO DESCRIPTION
====================== */

.portfolio-description {
  text-align: center;
  font-family: $robot;
  margin-bottom: 50px;
}

/* ======================
7.2 PORTFOLIO - PORTFOLIO PROJECTS
====================== */

.projects-showcase {
}

.project {
  display: table;
  border-right: 2px solid $grey;
  transition: ease-out .2s;
  background-color: #e3e3e3;
  height: 300px;
  position: relative;
  display: table-cell;
}

.project-title {
  margin-top: 30px;
}

.project-description {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  display: table-cell;
  vertical-align: bottom;
  box-sizing: border-box;
  padding: 15px 15px 15px 0;
}

.project:nth-child(3n) {
  border-right: none;
}

.project:hover {
  background-color: #fff;
  transition: ease-in .2s;
  cursor: pointer;
}

.project-info {
  text-align: center;
}

/* ======================
8.0 MEDIA QUERIES
====================== */

@media (max-width: 1870px) {
  .bio-image {
    width: 70%;
  }
}

@media (max-width: 1670px) {
  .bio-image {
    width: 82%;
  }
}

@media (max-width: 1439px) {
  .team-member-wrapper {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .thumbnail {
    display: block;
    margin: 0 auto 20px auto;
  }

  .team-member-description {
    width: 100%;
  }
}

@media (max-width: 1130px) {
  .bio-title{
    font-size: 1.6em;
  }
}

@media (max-width: 1196px) {
  .social-icons {
    font-size: 5em;
  }
  .header-logo {
    height: 35px;
    width: 234px;
    display: block;
    margin: 0 auto 30px auto;
  }
  .header-navigation {
    width: 100%;
    text-align: center;
    font-size: .85em;
  }
}
@media (max-width: 988px) {
  .hero-description {
    text-align: left;
  }
  p {
    text-align: center;
  }
  .photography-image, .seo-image, .responsive-image {
    height: 300px;
  }
  .hero-wrapper {
    margin-top: 38px;
    margin-bottom: 138px;
  }
}

@media (max-width: 938px) {
  .social-icons {
    font-size: 4em;
  }

  .section-big-title {
    font-size: 2.5em;
  }

  .bio-title {
    font-size: 1.4em;
  }
}

@media (max-width: 845px) {
  .impact_logo {
    width: 560px;
  }

  .headline {
    font-size: 1.0em;
  }
}

@media (max-width: 768px) {
  .first-team-member {
    padding-bottom: 30px;
  }
  .project {
    border: 2px solid $grey;
    margin-bottom: 30px;
  }
  .project:nth-child(3n) {
    border-right: 2px solid $grey;
  }
  .photography-image, .seo-image, .responsive-image {
    height: 300px;
  }
  .bio-image {
    width: 60%;
    margin-bottom: 60px;
  }
}

@media (max-width: 670px) {
  .contact-form input {
    box-shadow: 1px 1px 3px 0px #333
  }

  .contact-form input[type="submit"] {
    background-color: $tangerine;
  }
}

@media (max-width: 645px) {
  .impact_logo {
    width: 480px;
  }

  .social-icons {
    font-size: 3em;
  }

  blockquote p:first-child {
    font-size: .8em;
  }

  blockquote:before {
    font-size: 2em;
  }

  .photography-image, .seo-image, .responsive-image {
    height: 200px;
  }

  .content-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 530px) {
  .impact_logo {
    width: 349px;
    margin-bottom: 0;
  }

  .bio-image {
    width: 80%;
  }

  h1 {
    text-align: center;
  }

  .navigation ul {
    text-align: center;
  }

  .navigation li {
    margin-bottom: 10px;
  }

  .headline {
    text-align: center;
  }

  .footer-links p {
    display: block;
  }

  .footer-links a {
    margin-left: 15px;
  }

  .footer-links a:last-child {
    margin-left: 0;
  }
}

@media (max-width: 489px) {
  .navigation li {
    font-size: .9em;
  }

  .social-icons {
    font-size: 2.0em;
  }

  .section-big-title {
    font-size: 2.5em;
  }
}

@media (max-width: 373px) {
  .impact_logo {
    width: 293px;
  }
}
