/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

/*******************
MENU:
!!! media queries included in each section (if applicable)
1.0 DEFAULT
2.0 NAVIGATION
3.0 HOME - GENERAL
3.1 HOME - HERO
3.2 HOME - WHAT ABOUT
3.3 HOME - PROJECTS
********************/

/* ======================
1.0 DEFAULT
====================== */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';

@font-face {
  font-family: 'AmericanTypewriter';
  src: url('/assets/american-typewriter.eot');
  src: url('/assets/american-typewriter.eot') format('eot'),
  url('/assets/american-typewriter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$tangerine: #f27022;
$pumpkin: #fd9846;
$smoke: #878888;
$sky: #00cbdd;
$cream: CornSilk;
$typewriter: "AmericanTypewriter", Courier, 'Courier New';
$robot: 'Roboto', sans-serif;

html {
  height: 100%;
  width: 100%;
}

body {
  font: normal 17px $typewriter;
}

p {
  line-height: 25px;
  margin-bottom: 15px;
  font-weight: normal;
}

h2 {
  font-size: 2.0em;
  text-align: center;
  font-family: $typewriter;
}

.headline {
  font-size: 1.2em;
}

.hero {
    background-image: image-url("impact_studio_hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero-wrapper {
  margin-bottom: 218px;
  margin-top: 118px;
}

.impact_logo {
  height: 83px;
  width: 670px;
  margin-bottom: 20px;
}

.navigation {
  padding-left: 0;
  margin-bottom: 30px;
}

.navigation li {
  list-style-type: none;
  display: inline-block;
  font-size: 1.5em;
}

.navigation li:after {
  content: "//";
  padding-left: 10px;
  padding-right: 10px;
}

.navigation li:last-child:after {
  content: "";
}

.navigation li a {
  color: black;
}

.project_button {
  background-color: $tangerine;
  color: white;
  border: 3px solid white;
  box-shadow: 0px 0px 0px 3px $sky,
              0px 0px 3px 3px rgba(51, 51, 51, 0.7);
  text-transform: uppercase;
  padding: 8px;
  border-radius: 8px;
  font-size: 1.3em;
}

.bio {
  background-color: $pumpkin;
  color: $cream;
  font-family: $robot;
  text-shadow: 1px 1px 1px #333;
}

.content-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}
