/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 $pumpkin: #e09350;
 $smoke: #999;

/* =============
/* MENU
/* 1.0 NAVIGATION
/* 2.0 HERO
*/

/* ======================
1.0 NAVBAR
====================== */

.navbar {
  border: none;
  background-color: $smoke;
  border-radius: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
#start-a-project {
  padding: 5px;
  margin-top:9px;
  margin-bottom: 9px;
  color: #fff;
  background-color: $pumpkin;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #666;
  transition: ease-out .25s;
}
#start-a-project:hover {
  color: $pumpkin;
  background-color: #fff;
  transition: ease .25s;
}

/* ======================
2.0 HERO
====================== */
.hero {
  margin-top: 50px;
  width: 100%;
}
.hero-slogan {
  font-size: 80px;
  background-color: $pumpkin;
}
