<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 content-wrapper">
      <%= image_tag project.logo.url, class: "center-image project-logo" %>
      <h2 class="section-big-title"><%= project.title %></h2>
      <p class="center-text"><%= project.description %></p>
      
      <button type='button' name='button' class='content-button borders project-btn'><%= link_to "Visit Website", project.url, target: "_blank" %></button>

      <hr class="project-divider">
    </div>
  </div>
</div>
