<div class="container-fluid project-wireframes">
  <%= image_tag project.main_image.url, class: "center-image project-wireframe-desktop" %>
  <%= image_tag project.mobile_image.url, class: "center-image project-wireframe-mobile" %>
</div>
