<div class="container-fluid footer content-wrapper">
  <div class="row">

    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 footer-form">
      <h2 class="footer-header">Want to get in touch with us? Give us your details!</h2>
      <form class="contact-form">
        <input type="text" name="name" value="" placeholder="Name">
        <input type="phone" name="phone-number" value="" placeholder="What's yo numba?">
        <input type="email" name="email" value="" placeholder="Email Address">
        <input type="submit" value="Submit">
      </form>
    </div>

    <%= render partial:"layouts/footer_links" %>

    <div class="footer-image">
      <%= image_tag "bg_impactstudio-fist.svg" %>
    </div>
  </div>
</div>
