<div class="container-fluid footer content-wrapper">
  <div class="row">

    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-4 footer-form">
      <h2 class="footer-header">Want to Chat? Leave us your details and we'll get back to you!</h2>
      <form class="contact-form" method="post">
        <input type="text" name="name" value="" placeholder="Name" required>
        <input type="phone" name="phone-number" value="" placeholder="Phone Number" required>
        <input type="email" name="email" value="" placeholder="Email Address" required>
        <input type="submit" value="Submit">
      </form>
    </div>

    <%= render partial:"layouts/footer_links" %>

    <div class="footer-image">
      <%= image_tag "bg_impactstudio-fist.svg" %>
    </div>
  </div>
</div>
