<div class="container-fluid footer content-wrapper">
  <div class="row">

    <div class="col-md-4 col-md-offset-2">
      <h2 class="footer-header">Let us help you grow your business online.</h2>
      <form class="contact-form">
        <input type="text" name="name" value="" placeholder="Name">
        <input type="phone" name="phone-number" value="" placeholder="What's yo numba?">
        <input type="email" name="email" value="" placeholder="Email Address">
        <input type="submit" value="Submit">
      </form>
    </div>

    <div class="footer-links">
      <p>&copy; <%= Time.now.strftime("%Y") %> impactstud.io LLC</p>
      <%= link_to "Privacy", "" %>
      <%= link_to "Site Map", " " %>
    </div>
  </div>
</div>
