<div class="container-fluid header">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= image_tag "impactstudio_logo_vector.svg", class: "header-logo" %>

      <div class="header-navigation">
        <%= render partial: "layouts/navigation" %>
      </div>
    </div>
  </div>
</div>
