<div class="container-fluid header">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <%= link_to image_tag("impactstudio_logo_vector.svg", class: "header-logo"), root_path %>
      <div class="header-navigation">
        <%= render partial: "layouts/navigation" %>
      </div>
    </div>
  </div>
</div>
