<div class="container-fluid content-wrapper start-a-project-section">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h3>Looking to upgrade or create a website for your business? Want to increase your companies online exposure?</h3>
      <button type="button" name="button" class="project_button borders start-a-project-subpage-button"><%= link_to "Start A Project!", start_a_project_path %></button>
    </div>
  </div>
</div>
